@model TaxiSluzba.Models.Korisnik

<html>
<head>
    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</head>

    <body>
        <h2> Musterija </h2>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'NaruciVoznju')">Naruci voznju</button>
            <button class="tablinks" onclick="openCity(event, 'Profil')">Profil</button>
            <button class="tablinks" onclick="openCity(event, 'Izmena')">Izmena</button>
            <button class="tablinks" onclick="openCity(event, 'SpisakVoznji')">Spisak voznji</button>
        </div>

        <!-- Tab content -->
        <div id="NaruciVoznju" class="tabcontent">
            <form action="/Home/PoruciVoznju" method="post">
                <table>
                    <tr>
                        <td>Korisnicko ime: </td>
                        <td><input type="text" readonly name="korisnickoIme" value=@Model.korisnickoIme></td>
                    </tr>
                    <tr>
                        <td>Ulica: </td>
                        <td><input type="text" name="ulica"></td>
                    </tr>
                    <tr>
                        <td>Broj: </td>
                        <td><input type="text" name="broj"></td>
                    </tr>
                    <tr>
                        <td>Grad: </td>
                        <td><input type="text" name="grad"></td>
                    </tr>
                    <tr>
                        <td>Postanski broj: </td>
                        <td><input type="text" name="poBroj"></td>
                    </tr>
                    <tr>
                        <td>Tip prevoza: </td>
                        <td align="left">
                            <select name="tipPrevoza">
                                <option value="PUTNICKI_AUTOMOBIL">Putnicki automobil</option>
                                <option value="KOMBI">Kombi</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Posalji"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="Profil" class="tabcontent">
            <table>
                <tr>
                    <td>Korisnicko ime:</td>
                    <td>@Model.korisnickoIme</td>
                </tr>
                <tr>
                    <td>Lozinka: </td>
                    <td>@Model.lozinka</td>
                </tr>
                <tr>
                    <td>Ime: </td>
                    <td>@Model.ime</td>
                </tr>
                <tr>
                    <td>Prezime: </td>
                    <td>@Model.prezime</td>
                </tr>
                <tr>
                    <td>Pol: </td>
                    <td>@Model.pol.ToString()</td>
                </tr>
                <tr>
                    <td>JMBG: </td>
                    <td>@Model.jmbg</td>
                </tr>
                <tr>
                    <td>Kontakt telefon: </td>
                    <td>@Model.telefon</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>@Model.email</td>
                </tr>
            </table>
        </div>

        <div id="Izmena" class="tabcontent">
            <form action="/Home/IzmeniPodatke" method="post">
                <table>
                    <tr>
                        <td>Korisnicko ime:</td>
                        <td><input type="text" name="user" readonly value=@Model.korisnickoIme></td>
                    </tr>
                    <tr>
                        <td>Lozinka: </td>
                        <td><input type="text" name="pass" value=@Model.lozinka></td>
                    </tr>
                    <tr>
                        <td>Ime: </td>
                        <td><input type="text" name="ime" value=@Model.ime></td>
                    </tr>
                    <tr>
                        <td>Prezime: </td>
                        <td><input type="text" name="prezime" value=@Model.prezime></td>
                    </tr>
                    <tr>
                        <td>Pol: </td>
                        <td align="left">
                            <select name="pol" value=@Model.pol>
                                <option value="MUSKI">Muski</option>
                                <option value="ZENSKI">Zenski</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>JMBG: </td>
                        <td><input type="text" name="jmbg" value=@Model.jmbg></td>
                    </tr>
                    <tr>
                        <td>Kontakt telefon: </td>
                        <td><input type="text" name="telefon" value=@Model.telefon></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input type="text" name="email" value=@Model.email></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Izmeni" onclick="alert('Podaci su izmenjeni!')"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="SpisakVoznji" class="tabcontent">
            <table border="1" id="spisakVoznji">
                <tr>
                    <td>Datum i vreme</td>
                    <td>Mesto</td>
                    <td>Tip automobila</td>
                    <td>Status voznje</td>
                    <td>Komentar</td>
                    <td>Ocena</td>
                </tr>
                @{
                    foreach (TaxiSluzba.Models.Voznja v in TaxiSluzba.Models.Database.sveVoznje.Values)
                    {
                        if(Model.korisnickoIme == v.musterija.korisnickoIme)
                        {
                        <tr>
                            <td>@v.datumVreme.ToString()</td>
                            <td>@v.lokacijaZaTaksi.Adress.Ulica @v.lokacijaZaTaksi.Adress.BrojUlice, @v.lokacijaZaTaksi.Adress.Grad, @v.lokacijaZaTaksi.Adress.PozivniBroj </td>
                            <td>@v.tipAutomobila.ToString() </td>
                            <td>@v.statusVoznje.ToString() </td>
                            <td align="center">@v.komentar.opis</td>
                            <td>@v.komentar.ocenaVoznje.ToString()</td>
                    
                            @if (v.statusVoznje == TaxiSluzba.Models.StatusVoznje.KREIRANA_NA_CEKANJU)
                            {
                                <td><form action="/Home/MusterijaMenjaVoznju" method="post"><input type="submit" value="Izmeni"><input type="hidden" name="korisnickoIme" value="@Model.korisnickoIme"><input type="hidden" name="datumVoznje" value="@v.datumVreme.ToString()"></form></td>
                                <td><form action="/Home/MusterijaOtkazujeVoznju" method="post"><input type="submit" value="Otkazi"><input type="hidden" name="korisnickoIme" value="@Model.korisnickoIme"><input type="hidden" name="datumVoznje" value="@v.datumVreme.ToString()"></form></td>
                            }
                            @if (v.statusVoznje == TaxiSluzba.Models.StatusVoznje.USPESNA)
                            {
                                <td><form action="/Home/KomentarUspesno" method="post"><input type="submit" value="Komentar"><input type="hidden" name="korisnickoIme" value="@Model.korisnickoIme"><input type="hidden" name="datumVoznje" value="@v.datumVreme.ToString()"></form></td>
                            }
                        </tr>
                        }

                    }
                }
            </table>

            <form action="/Home/Filtriranje" method="post">
                <table>
                    <tr>
                        <td>Filtriraj:</td>
                        <td>
                            <select name="statusVoznje">
                                <option value="KREIRANA_NA_CEKANJU">Kreirana, na cekanju</option>
                                <option value="FORMIRANA">Formirana</option>
                                <option value="OBRADJENA">Obradjena</option>
                                <option value="PRIHVACENA">Prihvacena</option>
                                <option value="U_TOKU">U toku</option>
                                <option value="OTKAZANA">Otkazana</option>
                                <option value="NEUSPESNA">Neuspesna</option>
                                <option value="USPESNA">Uspesna</option>
                            </select>
                        </td>
                        <td><input type="submit" value="Filtriraj"></td>
                    </tr>
                </table>
                <input type="hidden" name="korisnickoIme" value="@Model.korisnickoIme">
            </form>

            <form action="/Home/Sortiranje" method="post">
                <table>
                    <tr>
                        <td>Sortiraj po:</td>
                        <td>
                            <select name="sortirajPo">
                                <option value="datumu">Datumu</option>
                                <option value="oceni">Oceni</option>
                            </select>
                        </td>
                        <td><input type="submit" value="Sortiraj"></td>
                    </tr>
                </table>
                <input type="hidden" name="korisnickoIme" value="@Model.korisnickoIme">
            </form>

            <form action="/Home/Pretraga" method="post">
                <table>
                    <tr>
                        <td>Pretraga po datumu:</td>
                        <td><input type="text" name="datumOd"></td>
                        <td><input type="text" name="datumDo"></td>
                    </tr>
                    <tr>
                        <td>Pretraga po oceni:</td>
                        <td><select name="ocenaOd">
                                <option value="NULA"></option>
                                <option value="JEDAN">1</option>
                                <option value="DVA">2</option>
                                <option value="TRI">3</option>
                                <option value="CETIRI">4</option>
                                <option value="PET">5</option>
                            </select></td>
                        <td><select name="ocenaDo">
                                <option value="NULA"></option>
                                <option value="JEDAN">1</option>
                                <option value="DVA">2</option>
                                <option value="TRI">3</option>
                                <option value="CETIRI">4</option>
                                <option value="PET">5</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>Pretraga po ceni:</td>
                        <td><input type="text" name="cenaOd"></td>
                        <td><input type="text" name="cenaDo"></td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center"><input type="submit" value="Pretraga"></td>
                    </tr>
                </table>
                <input type="hidden" name="korisnickoIme" value="@Model.korisnickoIme">
            </form>
        </div>
    </body>
</html>

